.gameDetails {
    &__container {
        position: relative;
        width: 100%;
        height: 45rem;
        box-sizing: border-box;
        background-image: url("../../assets/images/hero-image.fill.size_1248x702.v1715243991.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 1rem 2rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // Add overlay
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); // Adjust opacity as needed
            z-index: 1;
        }
    }

    &__match {
        color: white; // Explicitly set color to white
        z-index: 2; // Ensure text is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__location {
        color: white; // Explicitly set color to white
        font-size: 1.2rem; // Slightly decrease font size
        margin-bottom: 1rem; // Add space below the stadium text
        z-index: 2; // Ensure text is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__title {
        color: white;
        font-size: 1.5rem; // Increase font size for the title
        z-index: 2; // Ensure text is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__time {
        color: white;
        font-size: 1.2rem; // Increase font size for the times
        z-index: 2; // Ensure text is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__card {
        height: 6rem;
        background-color: #1F51FF;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        z-index: 2; // Ensure card is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__schedule {
        display: flex;
        flex-direction: row;
        z-index: 2; // Ensure schedule is above the overlay
        position: relative; // Ensure positioning context for z-index
    }

    &__time {
        padding: 1rem;
        display: flex;
        flex: 1;
        font-size: 1.2rem; // Increase font size for the time
        z-index: 2; // Ensure time is above the overlay
        position: relative; // Ensure positioning context for z-index
    }
}
