@use "../../styles/globals" as *;

.header {
    &__nav {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 50%;
        height: 100%;
    }
}