@use "../../styles/globals" as *;

.gameNav {
    padding: 1rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__container{
        box-sizing: border-box;
        gap: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__details {
        gap: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 2;
    }

    &__img{
        width: 100%;
        max-width: 5rem;
        height: 100%;
        display: flex;
        flex: 1;
    }
}